.calendarProduct {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
}

.calendarProduct > div {
  width: 100%;
}

.calendarDesktop {
  display: none;
}

.react-datepicker {
  display: flex;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  border: none;
}

.react-datepicker__month-container {
  width: 100%;
}

/* .react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #ff8360;
  border-radius: 1rem;
  color: white;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #F0572D;
  border-radius: 1rem;
  color: white;
}

.react-datepicker__day--in-selecting-range:not(
  .react-datepicker__day--in-range):hover {
  background-color: #ff8360;
  border-radius: 1rem;
  color: white;
} */

@media (min-width: 480px) {

  .calendarMobile {
    display: none;
  }

  .calendarDesktop {
    display: flex;
  }

}