.calendarSearchBar {
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 20px 10px 10px 10px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  z-index: 900;
}

.calendarSearchBar > div {
  width: 100%;
}

.react-datepicker {
  display: flex;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  border: none;
}

.react-datepicker__header {
  background-color: transparent;
}

.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #1dbeb3a0;
  border-radius: 50%;
  color: white;
}

.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #1dbeb3a0;
  border-radius: 50%;
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--primary);
  border-radius: 50%;
  color: white;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--primary);
  border-radius: 50%;
  color: white;
}

.react-datepicker__day--in-selecting-range:not(
  .react-datepicker__day--in-range) {
  background-color: #1dbeb3a0;
  border-radius: 50%;
  color: white;
}

.react-datepicker__day--in-selecting-range:not(
  .react-datepicker__day--in-range):hover {
  background-color: #1dbeb3a0;
  border-radius: 50%;
  color: white;
}

@media (min-width: 540px) {

  .calendarSearchBar {
    width: fit-content;
    right: 0;
    border-radius: 5px 0 5px 5px;
  }

  .calendarSearchBar > button {
    width: 50%;
  }

}