.categoryCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(25, 27, 29, .2);
}

.categoryCard img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.categoryCard > div {
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 10px;
}