.citiesList {
  position: absolute;
  top: 30px;
  width: 100%;
  background-color: white;
  border-radius: 0 5px 5px 5px;
  padding: 10px 15px;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  z-index: 900;
}

.citiesList li {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--primary);
}

.citiesList li img {
  height: 20px;
}

.citiesList li div p {
  font-weight: 700;
}

.citiesList li div span {
  font-size: .7rem;
  font-weight: 500;
}

.citiesList .closeList {
  margin-top: 10px;
  font-size: .7rem;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 1200px) {

  .citiesList {
    width: 75%;
  }

}