footer {
  position: sticky;
  display: flex;
  bottom: 0;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 15px 5%;
  gap: 10px;
}

footer .socials {
  flex-direction: row;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

footer .socials a {
  height: 100%;
}

footer .socials a img {
  height: 100%;
}

footer p {
  height: 20px;
  margin: 0;
  color: white;
}

@media (min-width: 1600px) {

  footer {
    padding: 20px 10%;
  }

}