.forms {
  width: 100vw;
  height: calc(100vh - 100px - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.forms div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.forms div label {
  font-size: 0.8rem;
  font-weight: bold;
}

.forms div input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
}

.forms div input:focus {
  padding: 10px;
  border: 1px solid #F0572D;
}

.forms button {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F0572D;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.forms .changeForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forms .changeForm p, .forms .changeForm a {
  font-size: 0.8rem;
  text-align: center;
}

.forms .changeForm p {
  color: #191B1D;
}

.forms .changeForm a {
  color: #F0572D;
}

.forms .error {
  font-size: 0.7rem;
  text-align: right;
  color: #B00020;
}

.forms .errors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forms .errors img {
  height: 15px;
}

.forms .errors p {
  font-size: 0.7rem;
  color: #B00020;
}


@media (min-width: 480px) {

  .forms {
    height: calc(100vh - 105px - 60px); 
  }

  .forms div, .forms button {
    width: 40%;
  }

  .forms div label {
    font-size: 1rem;
    font-weight: bold;
  }

  .forms div input {
    font-size: 1rem;
  }

  .forms .changeForm p, .forms .changeForm a {
    font-size: 1rem;
  }

  .forms .error, .forms .errors p {
    font-size: 0.8rem;
  }

}

@media (min-width: 1200px) {

  .forms div, .forms button {
    width: 25%;
  }

}