header {
  position: sticky;
  padding: 25px 5%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  z-index: 1000;
}

header .logo {
  display: flex;
  height: 60px;
  align-items: flex-end;
}

header .logo img {
  height: 90%;
}

.navMobileIcon {
  height: 20px;
}

header .desktopNav {
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

header .desktopNav a {
  color: var(--primary);
  font-size: .8rem;
  padding: 10px 40px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

header .userLog img {
  height: 20px;
  align-self: flex-start;
  cursor: pointer;
}

@media (min-width: 540px) {
  
  header .logo {
    height: 65px;
  }

}

@media (min-width: 1600px) {

  header {
    padding: 25px 10%;
  }

  header .logo {
    height: 70px;
  }

}