header {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  padding: 20px 10%;
  z-index: 1000;
}

header .logo {
  display: flex;
  height: 60px;
  align-items: flex-end;
}

header .logo img {
  height: 90%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

header nav ul a {
  color: #F0572D;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #F0572D;
  border-radius: 10px;
}

header button {
  background-color: transparent;
  border: none;
}

header button img {
  height: 25px;
}

.mobileNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  padding: 35px 10%;
}

.mobileNav button {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #31363F;
  text-align: right;
}

.mobileNav ul {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 25px;
}

.mobileNav ul a {
  width: 60%;
  color: #31363F;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #F0572D;
  border-radius: 0;
  text-align: right;
}

@media (min-width: 480px) {
  
  header .logo {
    height: 65px;
  }

}

@media (min-width: 1400px) {

  header {
    padding: 20px 15%;
  }

}

@media (min-width: 1800px) {

  header {
    padding: 20px 20%;
  }

}