header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 20%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  padding: 20px 10%;
  z-index: 1000;
}

header .logo {
  display: flex;
  height: 60px;
  align-items: end;
}

header .logo img {
  height: 90%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

nav ul a {
  color: #F0572D;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #F0572D;
  border-radius: 10px;
}

@media (min-width: 480px) {
  
  header .logo {
    height: 65px;
  }

}

@media (min-width: 1400px) {

  header {
    padding: 20px 15%;
    width: calc(100vw - 30%);
  }

}

@media (min-width: 1800px) {

  header {
    padding: 20px 20%;
    width: calc(100vw - 40%);
  }

}