.categories,
.products  {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.categories-grid,
.products-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

.categories > h2,
.products > h2 {
  text-align: left;
}

@media (min-width: 540px) {

  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1200px) {

  .categories-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}