.productPage section {
  width: 100vw;
  display: flex;
  padding: 15px 5%;
}

.productPage h2 {
  border-bottom: solid 2px var(--secondary);
  padding-bottom: 10px;
}

.productHeader {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
}

.productHeader h1 {
  font-size: 1.5rem;
  color: white;
}

.productHeader h4 {
  color: var(--light);
}

.productHeader img {
  height: 25px;
  cursor: pointer;
}

.productLocation {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: var(--light);
}

/* --- gallery --- */

.productGallery {
  display: none;
  position: relative;
  flex-direction: row;
  height: 500px;
  padding: 25px 5%;
  gap: 10px;
}

.productGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.productGallery .grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.productGallery .grid img {
  height: 100%;
}

.productGallery button {
  position: absolute;
  width: fit-content;
  padding: 0;
  right: calc(20px + 5%);
  bottom: calc(15px + 25px);
  background-color: transparent;
  font-size: 1rem;
  text-shadow: 2px 2px 4px var(--secondary);
  cursor: pointer;
}

/* --- end gallery --- */

.productDescription,
.productFeatures,
.productDates {
  flex-direction: column;
  gap: 25px;
}

.productDescription {
  margin-top: 25px;
}

.productDates {
  margin-bottom: 50px;
}

.productFeatures ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

.productFeatures ul li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.productDates > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.startBooking {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  gap: 15px;
}

.startBooking p {
  text-align: center;
}

@media (min-width: 540px) {

  .productFeatures ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .startBooking {
    padding: 15px;
    flex-direction: row;
  }

  .startBooking button {
    width: 40%;
  }

}

@media (min-width: 1200px) {

  .productGallery {
    display: flex;
  }

  .productFeatures ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .productDates > div {
    flex-direction: row;
  }

  .startBooking {
    width: 50%;
    padding: 20px;
    padding-bottom: 15px;
    flex-direction: column;
  }

  .startBooking button {
    width: 80%;
  }

}

@media (min-width: 1600px) {

  .productPage section {
    padding: 20px 10%;
  }

  .productGallery {
    padding: 0 10%;
  }

  .productGallery button {
    right: calc(25px + 10%);
    bottom: calc(25px);
  }

}