.searchBar {
  display: flex;
  flex-direction: column;
  padding: 25px 5%;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  box-shadow: 0px 5px 5px rgba(25, 27, 29, .2);
  gap: 15px;
}

.searchBar h2 {
  text-align: center;
  color: var(--light);
}

.searchBar form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.searchBar-input {
  width: 100%;
  position: relative;
}

.searchBar-input > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 10px;
  gap: 15px;
  border-radius: 5px;
  align-items: center;
}

.searchBar-input input {
  width: 100%;
  border: none;
  font-size: .8rem;
  color: var(--secondary);
}

.searchBar-input .clearInput {
  height: 15px;
  cursor: pointer;
}

@media (min-width: 540px) {

  .searchBar form {
    flex-direction: row;
  }

  .searchBar-input {
    width: 40%;
  }

  .searchBar form > button {
    width: 20%;
  }
  
}

@media (min-width: 1200px) {

  .searchBar {
    padding: 25px 10%;
  }

  .searchCity input {
    font-size: 1rem;
  }

}

@media (min-width: 1600px) {

  .searchBar {
    padding: 25px 15%;
  }

}