.sliderContainer {
  position: relative;
  width: 100vw;
  height: 250px;
  overflow: hidden;
}

.sliderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.sliderGoBack, .sliderGoNext {
  top: calc(50% - 20px);
}

.sliderGoBack {
  left: 4%;
}

.sliderGoNext {
  right: 4%;
}

.sliderContainer p {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: .9rem;
  color: white;
}

@media (min-width: 480px) {

  .sliderContainer {
    height: 400px;
  }

  .sliderIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .sliderContainer p {
    font-size: 1rem;
  }

}